// SCSS VARIABLES //

$bg-color: #ffffff;
$text-color: #333;
$md-char-color: #b4b4b4;
$meta-content-color: #757575;
$link-color: #db4d52;
$mark-color: #d3ffa4;
$code-bg-color: #00000008;
$code-border-color: #0000001a;

$primary-color: #db4d52;
$accent-color: #d0d0d0;
$table-head-color: #d0d0d0;

@import "./ursine-main.scss";
@import "../../../../node_modules/highlight.js/styles/atom-one-light.css";
