// ROOT VARIABLES //
$paragraph-font: "'source-han-sans-simplified-c', 'PingFang SC','Hiragino Sans GB', 'PingHei','Avenir Next LT Pro', 'Lato', sans-serif";
$header-font: "'source-han-sans-simplified-c', 'PingFang SC','Hiragino Sans GB', 'PingHei','Adelle', 'Times New Roman', serif";
$monospace-font: "'source-han-sans-simplified-c', 'PingFang SC','Hiragino Sans GB', 'PingHei','Cousine', 'Consolas', monospace";

:root {
  --monospace: #{$monospace-font}; // monospace font for code
}

// STYLING //

@import "./ursine-var.scss";
@import "./components/ursine-fonts.scss";

.markdown-body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: unquote($paragraph-font);

  width: 80%;
  line-height: 1.6;
  margin: 0 10%;

  font-size: 15px;

  @import "./components/ursine-table.scss"; // Lists
  @import "./components//ursine-header.scss";

  // Lists
  ol,
  ul {
    counter-reset: item;
    list-style-type: none;
    margin: 0.5rem 0;
    position: relative;

    li::before {
      position: absolute;
    }

    li {
      color: rgba($color: var(--text-color), $alpha: 0.8);

      &::before {
        margin-left: -1.5rem;
        color: var(--md-char-color);
      }
    }
  }

  ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  }

  ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
  }

  p {
    margin: 0.5rem 0;
  }

  a {
    color: var(--primary-color);
  }

  del {
    color: var(--md-char-color);
  }

  mark {
    padding: 2px 1px;
    background: var(-mark-color);
    color: inherit;
  }

  blockquote {
    margin: 1rem 0;
    position: relative;
    font-family: unquote($header-font);

    &::before {
      content: "";
      position: absolute;

      position: absolute;
      right: calc(100% + 10px);
      height: 100%;
      width: 0.2rem;
      background: var(--primary-color);
    }
  }

  .md-fences,
  tt {
    font-family: unquote($monospace-font);
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba($color: var(--md-char-color), $alpha: 0.2);
    border-bottom: 1px solid rgba($color: var(--md-char-color), $alpha: 0.3);
  }

  pre {
    max-height: 20rem;
    code {
      font-size: 13px;
    }
  }

  .footnotes {
    float: footnote;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;

    li {
      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  img {
    width: 50%;
    margin-left: 25%;
  }
}
