table {
  border-collapse: collapse;
  border: 1px solid var(--md-char-color);
  margin: 1rem 0;

  tr:nth-child(2n) {
    background: var(--accent-color);
  }

  thead {
    background: var(--table-head-color);
  }

  td,
  th {
    padding: 0.35rem 0.7rem;
    border: 1px solid var(--md-char-color);
  }
}
