@import "./variable.scss";

@import "../../../node_modules/highlight.js/styles/atom-one-light.css" (prefers-color-scheme: light);
@import "../../../node_modules/highlight.js/styles/atom-one-dark.css" (prefers-color-scheme: dark);

.markdown-body {
  background-color: var(--bg-color);
  color: var(--text-color);

  line-height: 1.7rem;
  box-sizing: border-box;

  font-size: 1rem;

  pre.hljs {
    max-height: 20rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;
    display: flex;
    padding: 0;
    flex-direction: column;
    overflow: hidden;

    &::before {
      content: " ";
      display: block;
      background: url(../images/97e4eed2-a992-4976-acf0-ccb6fb34d308.png);
      height: 30px;
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: 10px 7px;
      border-bottom: 1px solid var(--code-border-color);
    }

    code {
      padding: 1rem 1rem;
      overflow: auto;

      font-size: 0.8rem;
      font-family: hack, Arial, Helvetica, sans-serif;

      &::-webkit-scrollbar {
        width: 0 !important;
      }
    }
  }

  // Lists
  ol,
  ul {
    counter-reset: item;
    list-style-type: none;
    margin: 0.5rem 0;
    position: relative;

    li::before {
      position: absolute;
    }

    li {
      color: rgba($color: var(--text-color), $alpha: 0.8);

      &::before {
        margin-left: -1.5rem;
        color: var(--md-char-color);
      }
    }
  }

  ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  }

  ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
  }

  p {
    margin: 0.5rem 0;
  }

  a {
    color: var(--primary-color);
  }

  del {
    color: var(--md-char-color);
  }

  mark {
    padding: 2px 1px;
    background: var(-mark-color);
    color: inherit;
  }

  blockquote {
    margin: 1rem 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;

      position: absolute;
      right: calc(100% + 10px);
      height: 100%;
      width: 0.2rem;
      background: var(--primary-color);
    }
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba($color: var(--md-char-color), $alpha: 0.2);
    border-bottom: 1px solid rgba($color: var(--md-char-color), $alpha: 0.3);
  }

  .footnotes {
    float: footnote;

    li {
      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  img {
    width: 50%;
    margin-left: 25%;
  }

  table {
    border-collapse: collapse;
    border: 1px solid var(--table-border-color);
    margin: 1rem 0;

    thead {
      background: var(--table-head-color);
    }

    td,
    th {
      padding: 0.35rem 0.7rem;
      border: 1px solid var(--table-border-color);
    }
  }

  // Headers
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: auto;

    position: relative;
  }

  h1 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 1.4rem;
    margin: 0.7rem 0;
  }

  h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  h4 {
    font-size: 1.1rem;
    margin: 0.2rem 0;
  }

  h5,
  h6 {
    font-size: 1rem;
    margin: 0;
  }
}
