html {
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;

  body {
    color: #333;
    font-family: "source-han-sans-simplified-c", "PingFang SC",
      "Hiragino Sans GB", "PingHei", "Open Sans", sans-serif, Helvetica Neue,
      "Work Sans", "Microsoft YaHei", SimSun;
    font-size: 16px;
    width: 100%;
    background-color: var(--bg-color);

    #app {
      background: var(--bg-color);
      box-shadow: 0px 10px 20px 0px var(--md-char-color);
      width: 820px;
      margin: 0 auto;
      margin-top: 60px;

      line-height: 2rem;
      letter-spacing: 0.1px;
    }
  }
}

code {
  font-family: hack, Arial, Helvetica, sans-serif;
}

// polar 日间样式
:root {
  color-scheme: light dark;

  @import "../../../node_modules/highlight.js/styles/atom-one-light.css";
}

@media (prefers-color-scheme: dark) {
  @import "../../../node_modules/highlight.js/styles/atom-one-dark.css";
}
